{% extends 'adminPanel/home.html' %} {% load static %} {% block subtitle %}
<title>DigiKings | Add New Service</title>
{% endblock %} {% block servicebody %}
<h2>All Team Members</h2>
<hr />

<div class="row" style="overflow: auto;">
  <table class="table table-hover">
    <thead>
      <tr>
        <h5>
        <th scope="col"> Pic</th>
        <th scope="col"> ID</th>
        <th scope="col"> Name</th>
        <th scope="col"> Phone </th>
        <th scope="col">  Email</th>
        <th scope="col">  Address</th>
        <th scope="col">  Post</th>
        <th scope="col">  Salary</th>
        <th scope="col">Action</th>

      </h5>
      </tr>
    </thead>
    <tbody>
      {% for i in team %}
      <tr class="m-2 p-2">
        <h5>
        <th scope="row"> <img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{i.ProfilePic}}" alt="" style="width: 100px; height:100px; border-radius: 50%;"/></th>
        <th scope="row"> {{i.ID}}</th>
        <td>{{i.Name}}</td>
        <td>{{i.Phone }}</td>
        <td>{{i.Email }}</td>
        <td>{{i.Address}}</td>
        <td>{{i.Post}}</td>
        <td>	&#8377; {{i.Salary}}</td>
 
        <td><a href="{% url 'EditTeam' id=i.ID %}"><i class="fa fa-edit"></i></a></td>

      </h5>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- {% for i in services %}
    <div class="col-6 shadow">
        <h5 class="text-bold">Customer Details</h5>
        <h6>
        <ul>
            <li class="p-0 m-0 m-1 ">{{i.customer.Name}}</li>
            <li class="p-0 m-0  m-1 "> {{i.customer.phone}}</li>
            <li class="p-0 m-0  m-1"> {{i.customer.email}}</li>
            <li class="p-0 m-0  m-1">{{i.customer.address}}</li>
        </ul>
    </h6>

        <hr>
        <h5>Service Description</h5>
        <h6>
        <ul>
        <li class="p-0 m-0 m-1 ">Brand : {{i.Brand}} </li>
        <li class="p-0 m-0  m-1">Type : {{i.DesktopType}} </li>
        <li class="p-0 m-0  m-1">Category : {{i.DesktopCategory}} </li>
        <li class="p-0 m-0 m-1 ">Problem  : {{i.Problem}} </li>
    </h6>
    </ul>

    </div>

    {% endfor %} -->
</div>

{% endblock %}
